* {
  margin: 0;
  padding: 0;
}

@media (min-width: 1000px) {
  .content {
      padding-left: 200px;
  }
}

.content {
  padding-bottom: 60px;
} 

body {
  background-color: rgb(48, 48, 48);
  font-family: 'Helvetica Neue', sans-serif;
}