.shoppinglist-list-button-wrapper {
  display: flex;
  justify-content: right;
  margin-right: 120px;
  padding: 5px;
  
}

@media (max-width: 695px) {
  .shoppinglist-list-button-wrapper {
    justify-content: center;
    margin-right: 0;
  }
}

.shoppinglist-list-button-wrapper button {
  padding: 7px 30px;
  font-weight: bold;
  border-radius: 5px;
  border-width: 1px;
  cursor: pointer;
  background-color: rgb(226, 174, 78);
}

.shoppinglist-list-button-wrapper button:hover {
  background-color: rgb(203, 145, 39);
}

.shoppinglist-list-container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}